.display-wrapper {
    display: flex;
    justify-content: space-around;
}
.heading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 100px;
}
.shop-adder {
    margin: 15px 0;
}
.shop-text {
    font-size: 140%;
}